@import '~antd/dist/antd.css';

/* LAYOUT */
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 10px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
  padding: 24px;
  margin: 6px 0 0 0;
}
